<!-- Start Tab -->
<section class='bg-light'>
	<div class="container py-4">
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			{% for category in data.specials %}
				<li class="nav-item" role="presentation">
					<button class="nav-link {% if loop.index == 1 %} active {% endif %}" id="pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{loop.index}}" type="button" role="tab" aria-controls="pills-{{loop.index}}" aria-selected="true">
						{{category.name}}
					</button>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content" id="pills-tabContent">
			{% for category in data.specials %}
				<div class="tab-pane fade {% if loop.index == 1 %} show active {% endif %}" id="pills-{{loop.index}}" role="tabpanel" aria-labelledby="pills-{{loop.index}}-tab">
					<div class="row">
						{% for product in category.products %}
							<div class="col-6 col-md-3 mb-3">
								<div class="card">
									<img src="./img/{{product.image}}" class="card-img-top" alt="{{product.name}}"/>
									<div class="card-body">
										<h6 class="card-title">{{product.name}}</h6>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="row py-2">
						{% for item in category.categories %}
							<div class="col-6 col-md-3 d-grid mb-3">
								<a href="{{item.link}}" class="btn btn-block btn-outline-secondary">{{item.name}}</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Tab -->
